.column {
  width: 300px;
  float: left;
  padding-right: 50px;
}

img {
  max-width: 300px;
  height: auto;
}

#before {
  background-color: red;
}

#during {
  background-color: orange;
}

#after {
  background-color: blue;
}